body {
  font-family: 'Ubuntu', sans-serif;
  font-weight:bold;
  background-color: #f2f2f2;
  color: #403866;
  margin: 0;
  text-align: center;
}

ul {
  list-style-type: none;
  display:table; 
  margin:0 auto;
  width: 90%;
}

li {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  border-radius: 1px;
  background-color: grey;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: rgb(102, 102, 102);
}

.image {
  margin: 0;
  width: 100%;
}

.button {
  width: 40%;
  height: 62px;
  padding: 0 20px;
  border-radius: 31px;
  margin-top: 1em;
  background-color: #827ffe;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: #fff;
  border: none;
  -webkit-appearance: none;
}

input {
  border: none;
  outline: none;
}

.input {
  box-sizing: border-box; 
  width: 80%;
  height: 62px;
  border-radius: 31px;
  background: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: #8f8fa1;
  line-height: 1.2;
  padding: 0 35px
}

.gold {
  color: gold;
}

.silver {
  color: silver;
}

.bronze {
  color: #cc6633;
}