<!doctype html>
<link href="https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<script src="{{ url_for('static', filename='js/functions.js') }}"></script> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tipspromenad</title>
<h1>Lag {{team_name}} är redan registrerat, vill du skapa nytt lag?</h1>
<button type="button" onclick="delete_userID()" class="button">SKAPA NYTT LAG</button> 