<!doctype html>
<link href="https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<script src="{{ url_for('static', filename='js/functions.js') }}"></script> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tipspromenad</title>
<h2>Fråga {{question_id}}</h2>
{% if media %}
{% if media_type == 'images' %}
<img src="{{url_for('static', filename=media)}}" class="image"> 
{% else %}
<audio id="musicTesting" preload="auto" controls>  
    <source src="{{ url_for('static', filename=media) }}" type="audio/mp3" />
</audio>
<p style="font-size: 14px; font-style: italic;">OBS. Klicka på spel-knappen, kan ta några sekunder att starta.</p>
{% endif %}
{% endif %}
<p>{{meta}}</p>
<ul>
    <li onclick="send_answer('{{user_id}}', '{{question_id}}', '1')" class="question-choice">{{choice1}}</li>
    <li onclick="send_answer('{{user_id}}', '{{question_id}}', '2')" class="question-choice">{{choice2}}</li>
    <li onclick="send_answer('{{user_id}}', '{{question_id}}', '3')" class="question-choice">{{choice3}}</li>
    <li onclick="send_answer('{{user_id}}', '{{question_id}}', '4')" class="question-choice">{{choice4}}</li>
</ul>