<!doctype html>
<link href="https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap" rel="stylesheet">  
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<script src="{{ url_for('static', filename='js/functions.js') }}"></script> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tipspromenad</title>
<iframe src="https://open.spotify.com/embed/track/1da9hSnUzslspmRTKTjBBi" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>